.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0px;
    left: 50%; 

    transform: translate(-50%, -30%);
}

.container-size-card {
    margin: 40px 0;
}

.mp {
    margin: 100px 0;
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.margin40 {
    margin-top: 60px 0 !important;
  }